<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>セキュリティサンプル</title>
</head>
<body>
	<div class="container">
		<p>ログイン成功</p>
		<p>ログイン者:<span th:text="${loginUserName}"></span></p>
		<p><span sec:authorize="hasRole('ROLE_USER')"><span>ユーザーロールを持っています</span></span></p>
		<p><span sec:authorize="hasRole('ROLE_ADMIN')"><span>管理者ロールを持っています</span></span></p>
		<a th:href="@{/afterLogin/contents}">コンテンツページへ</a>
	</div>
	<!-- end container -->
</body>
</html>